<div class="four fields">
    {{> graphmenu }}
    <div class="field">
        <label>Start Date</label>
        <div class="ui calendar" id="start">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="datetime" placeholder="Date/Time" name="start">
            </div>
        </div>
    </div>
    <div class="field">
        <label>End date</label>
        <div class="ui calendar" id="end">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="datetime" placeholder="Date/Time" name="end">
            </div>
        </div>
    </div>
    <div>
        <label>Submit </label>
        <br>
        <button class="ui blue submit button">Submit</button>
        <h3>{{error}}</h3>
    </div>
</div>
