    <div class="ui inverted blue vertical pointing menu">
        <a id="burndown"   class= "item" href="/burndown">Burndown</a>
        <a id="averageage" class= "item" href="/averageage">Average Age</a>
        <a id="velocity" class= "item" href="/velocity"> Velocity</a>
        <a id="createdresolved" class= "item" href="/createdresolved"> Created Vs Resolved</a>
        <!--<a id="settings" class= "item" href="/settings"> Settings</a>-->
    </div>

<script>
    $("#{{_id}}").addClass("active item");
</script>