<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="semantic/out/semantic.min.js"></script>-->
    <!--<link media="screen" rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">-->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <!--<link rel="stylesheet" media="screen" href="css/index.css">-->

    <!-- Semantic ui Calendar https://github.com/mdehoog/Semantic-UI-Calendar -->
    <script type="text/javascript" src="/js/calendar.min.js"></script>
    <link rel="stylesheet" href="/css/calendar.min.css" />


    <link rel="shortcut icon" type="image/png" href="images/kujira.jpg">
    <script type="text/javascript" src="/js/canvasjs.min.js"></script>

</head>
<body>
<section class="ui container">
    {{{body}}}
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({ on: 'hover' });
        $('.ui.sidebar').sidebar('toggle');
        $('.ui.accordion').first().accordion();
        $('.ui.calendar').calendar();
    });
</script>
</body>
</html>