{{> mainmenu }}
<div class="ui grid">
    <div class="sixteen wide column">
        <form action="/createResolved" method="POST" class="ui form">
            {{>dateSprintForm}}
        </form>

    </div>
</div>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</section>
<script type="text/javascript" src="/js/createdResolved.js"></script>