{{> mainmenu }}
<div class="ui grid">
    <section class="four column row">
    <div class="sixteen wide column">
        <form action="/createdResolved" method="POST" class="ui form">
            {{>dateSprintForm}}
        </form>

        <div class="four wide column">
            <a href="./js/createdResolved.json" download="createdResolved.json">
                <button class="ui blue submit button">Download data!</button>
            </a>
        </div>
    </div>
</div>

<center><button class="ui large teal button">Created </button> VS <button class="ui large red button">Resolved</button></center>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</section>
<script type="text/javascript" src="/js/createdResolved.js"></script>