{{> mainmenu }}
<div class="ui grid">
    <div class="sixteen wide column">
        <form action="/burndown" method="POST" class="ui form">
            <div class="four fields">
                {{> graphmenu }}
            </div>
                <div class="ui selection dropdown" id="field">
                    <input name="field" type="hidden">
                    <div class="default text">Select Field</div>
                    <i class="dropdown icon"></i>
                    <div class="menu" >
                        {{#each sprintDropDown}}
                            <div class="item field" data-value={{sprintName}}>{{sprintName}}</div>
                        {{/each}}
                    </div>
                    <button class="ui blue submit button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</section>
<script type="text/javascript" src="/js/burndown.js"></script>