{{> mainmenu }}
<div class="ui grid">
    <section class="three column row">

    <div class="four wide column">
        <div class="four fields">
            {{> graphmenu }}
        </div>
    </div>

    <div class="four wide column">
        <form action="/burndown" method="POST" class="ui form">
                <div class="ui selection dropdown" id="sprintName">
                    <input name=sprintName type="hidden">
                    <div class="default text">Select Field</div>
                    <i class="dropdown icon"></i>
                    <div class="menu" >
                        {{#each sprintDropDown}}
                            <div class="item field" data-value="{{sprintName}}">{{sprintName}}</div>
                        {{/each}}
                    </div>

                </div>

                <button class="ui blue submit button">Submit</button>
                <h5>{{error}}</h5>


        </form>
    </div>

    <div class="four wide column">
        <a href="./js/burndown.json" download="burndown.json">
            <button class="ui blue submit button">Download sprint data!</button>
        </a>
    </div>
    </section>
</div>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</section>
<script type="text/javascript" src="/js/burndown.js"></script>