{{> mainmenu }}
<div class="ui grid">
    <div class="sixteen wide column">
        <form action="/burndown" method="POST" class="ui form">
            <div class="four fields">
                {{> graphmenu }}
                <div class="field">
                    <label>Sprint Name</label>
                    <input type="text" placeholder="Sprint Name" name="sprint">
                    <label>Submit </label>
                    <button class="ui blue submit button">Submit</button>
                    <h3>{{error}}</h3>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</section>
<script type="text/javascript" src="/js/burndown.js"></script>