{{> mainmenu }}

<h1>Welcome to Kujira</h1>
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="ui six wide column">
            <img src="images/kujira.png" class="ui small image">
        </aside>
        <div class="ui ten wide column fluid form">
            <div class="ui stacked segment">
                <form action="/home" method="POST">
                    <h3 class="ui header">Project</h3>
                    <div class="field">
                        <label>Enter Project Name, only if update needed</label>
                        <input placeholder="Jira Project Name" type="text" name="project">
                    </div>
                    <button class="ui blue submit button">Submit</button>
                </form>
                {{> formerror }}
                <h2>{{message}}</h2>
                {{#if notDb}}
                    <h5> Database found</h5>
                {{else}}
                    <h4>Warning no database file present, enter a project name</h4>
                {{/if}}
            </div>
        </div>
    </div>
</section>