{{> mainmenu }}

<h1>Query Kujira</h1>

<section class="four wide column">
    <h3 class="ui dividing header">Select Jira Field</h3>
    <section class="ui rasied form segment user">
        <div class="two fields">
            <div class="field">
                <div class="column">
                    <div class="ui selection dropdown" id="deleteUser">
                        <input name="field" type="hidden">
                        <div class="default text">Select Field</div>
                        <i class="dropdown icon"></i>
                        <div class="menu" >
                            {{#each user}}
                                <div class="item userlist" data-value={{email}}>{{email}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="ui blue submit button">Select Field <i class="search icon"></i></button>
    </section>
</section>