<!DOCTYPE html>
<html>
<head>
  <title>Kujira Home</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
</head>
<body>
<section class="ui container">

  <nav class="ui inverted teal menu">
    <header class="header item"> <a href="http://34.209.189.237:8000"> Kujira Live </a> </header>
    <div class="right menu">
      <a class="item" href="https://github.com/austincunningham/kujira"> Kujira Repo</a>
      <a class="item" href="https://github.com/damienomurchu/data-miner"> Data-miner Repo</a>
      <a class="item" href="https://damienomurchu.github.io/data-miner"> Data-miner Home</a>
      <a class="item" href="https://austincunningham.github.io/kujira"> Home</a>
    </div>
  </nav>

  <img src ="https://s9.postimg.org/l8w5zyh67/kujira.png">
  <div class="ui raised tertiary inverted teal segment">


    {{ content }}
  </div>
</section>
</body>
</html>