<!DOCTYPE html>
<html>
<head>
  <title>I can add styling here</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
</head>
<body>
<nav class="ui inverted blue menu">
  <header class="header item"> <a href="http://34.209.189.237:8000"> Kujira live </a> </header>
  <div class="right menu">
    <!--<a class="item" href="/signup"> Signup</a>-->
    <a class="item" href="https://github.com/austincunningham/kujira"> Kujira Repo</a>
    <a class="item" href="https://github.com/damienomurchu/data-miner"> Kujira-data-miner Repo</a>
  </div>
</nav>

{{ content }}
</body>
</html>